<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger mb-0 pb-0" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
