

<div class="card shadow m-3">
  <div class="card-header">
    <div class="d-flex flex-row">
      <h2 class="mr-auto">Relatório</h2>
    </div>
  </div>
  
  <div class="card-body"><div class="d-flex flex-row">
  <h2 class="mr-auto"></h2>
  <%= button_to " Exportar arquivo", reports_csv_path(format: 'csv'), class: "btn btn-primary bi bi-file-earmark-arrow-down m-3" %>  
</div>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Fornecedor</th>
          <th scope="col">Receptor</th>
          <th scope="col">Talento/Projeto</th>
          <th scope="col">Horas</th>
        </tr>
      </thead>
      <tbody>
        <% unless @transactions.empty? %>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.provider.name %></td>
              <td><%= transaction.receiver.name %></td>
              <td><%= transaction.talent %></td>
              <td><%= transaction.hours %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

      <h4 class="mr-auto">Saldo de horas mensais: <%= @monthly_hours %></h4>
      
  </div>
</div>

