
<div class="card-body">
  <%= form_for @information do |f| %>
    <div class="field col-md-12 form-group">
      <%= f.label :title, "Título" %>
      <%= f.text_field :title, class:"form-control", :required => true %>
    </div>

    <div class="field col-md-12 form-group">
      <%= f.label :text, "Texto" %>
      <%= f.text_area :text, class: "form-control", :rows => 3, :required => true %>
    </div>

    <div class="actions form-group form-row">
      <div class="col-sm-6">
        <%= link_to 'Voltar', admin_information_path, class: "btn btn-primary form-control" %>
      </div>
      <div class="col-sm-6">
        <%= f.submit "Salvar", class: "btn btn-success form-control" %>
      </div>
    </div>
  <% end %>
</div>
