<div class="card shadow m-3">
  <div class="card-header">
    <h2>Notícias</h2>
  </div>
  <div class="card-body">
  
    <% unless @information.nil? %>
      <% @information.each do |information| %>
        <h3><strong><%= information.title %></strong></h3>
        <br>
        <p><%= information.text %></p>
        <br>
        <hr/>
        <br>
      <% end %>
    <% end %>

  </div>
</div>