
<div class="container" style="padding-top: 20px">
  <div class="card shadow">
    <div class="card-header">
        <h2>Editar talento</h2>
    </div>
    
    <%= render 'form'%>
  </div>

  <div class="card-body overflow-auto d-flex flex-column" style="max-height: 200px;">
    <div class="ml-auto p-2">
      <%= button_to 'Remover', talent_path(@talent), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>   
</div>