
<div class="row m-3">
  <% unless @users.nil? %>
    <% @users.each do |user| %>
      <div class="col-sm-6">
        <div class="card shadow mt-3" style="height: 18rem;">    
          <div class="card-header">
            <h3 class="mb-0"><%= link_to user.name, profile_path(profile_id: user.id), class:"link-secondary"%></h3>
          </div>
          
          <div class="card-body row overflow-auto">
              <% user.talents.each do |talent| %>
                
                <div class="col-md-12 p-1 mb-2 bg-info text-white rounded">
                  <%= talent.name %>
                </div>

              <% end %>
          </div>
          
          <div class="card-footer">
            <div>
              <% user.talents.select(:category).map(&:category).uniq.each do |category| %>
                <span class="badge badge-pill badge-secondary"><%= category %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
