<div class="container" style="padding-top: 20px">
  <div class="card shadow">
    <div class="card-header">
      <h2>Editar perfil</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="card-body">
        <div class="card shadow">
          <div class="card-header">
              <h4>Informações</h4>
          </div>
          <div class="card-body">
        
          <div class="field col-md-12 form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email" , class: "form-control", required: true%>
          </div>

          <div class="field col-md-12 form-group">
            <%= f.label :name, "Nome" %><br />
            <%= f.text_field :name, autocomplete: "name" , class: "form-control", required: true%>
          </div>

          <div class="field col-md-12 form-group">
            <%= f.label :description, "Descrição" %><br />
            <%= f.text_area :description, autocomplete: "description", class: "form-control", rows: 3, required: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Esperando confirmação para: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
      </div>

    </p>

    <div class="card shadow">
      <div class="card-header">
          <h4>Alterar senha</h4>
      </div>

      <div class="card-body">
        <div class="form-row">
          <div class="field col-md-6 form-group">
            <%= f.label :password, "Senha" %> <i>(deixe em branco se não quiser modificar)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <small id="user-password-inline" class="text-muted"><%= @minimum_password_length %> mínimo de caracteres</small>
            <% end %>
          </div>

          <div class="field col-md-6 form-group">
            <%= f.label :password_confirmation, "Confirme a senha" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  </p>

  <div class="container">
  <div class="row">
    <div class="card col-md-5 m-4 border-left-success shadow">
      <div class="card-body">
      <p class="lead">Salvar alterações?</p>
        <div class="field col-md-12 form-group">
          <%= f.label :current_password, "Senha atual" %> <br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          <div class="invalid-feedback">
            Senha invalida.
          </div>
        </div>

        <div class="actions col-md-12 form-group">
          <%= f.submit "Salvar", class: "btn btn-success form-control align-bottom"  %>
        </div>
      </div>
    </div>
  <% end %>
    </p>
    <div class="card col-md-5 m-4 border-left-danger shadow">
      <div class="card-body">
        <p class="lead">Deseja deletar sua conta?</p>
        <%= button_to "Sim, deletar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

</p>
<div class="container col-md-3 m-3">
  <%= link_to "Voltar", :back, class: "btn btn-primary form-control" %>
</div>

</div>
 

</div>
