<div class="container d-flex justify-content-center" style="padding-top: 20px">
  <div class="card shadow col-md-8 col-sm-12">
    <div class="card-header">
      <h2>Criar conta</h2>
    </div>
    
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="field col-md-12 form-group">
          <%= f.label :name, "Nome" %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control", required: true %>
        </div>

        <div class="field col-md-12 form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control", required: true %>
        </div>

        <div class="field col-md-12 form-group">
          <%= f.label :password, "Senha" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
        </div>

        <div class="field col-md-12 form-group">
          <%= f.label :password_confirmation, "Confirme a senha" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
        </div>

        <div class="field col-md-12 form-group">
          <%= f.label :description, "Descrição" %><br />
          <%= f.text_area :description, class: "form-control", rows: 3, required: true %>
        </div>

        <div class="field col-md-12 form-group">
          <%= f.label :entity, "Cadastro de Organização?" %><br />
          <%= f.check_box :entity %>
        </div>

        <div class="actions col-md-12 form-group">
          <%= f.submit "Cadastrar", class: "form-control btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>