
<div class="card-body">
  <nav class="mt-3">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="recebidas-tab" data-toggle="tab" href="#recebidas" role="tab" aria-controls="recebidas" aria-selected="true">Recebidas</a>
      <% unless current_user.entity? %>
        <a class="nav-item nav-link" id="enviadas-tab" data-toggle="tab" href="#enviadas" role="tab" aria-controls="enviadas" aria-selected="false">Enviadas</a>
      <% end %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="enviadas" role="tabpanel" aria-labelledby="enviadas-tab">

      <% unless @my_transactions.empty? || current_user.entity? %>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Receptor</th>
              <th scope="col">Talento/Projeto</th>
              <th scope="col">Horas</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @my_transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.receiver.name %></td>
                <td><%= transaction.talent %></td>
                <td><%= transaction.hours %></td>
                <td><%= transaction.status %></td>
                <td>
                <% if transaction.status == "pendente" %>
                  <%= button_to 'Cancelar', transactions_destroy_path, params: { id: transaction.id }, method: :delete, class: "btn btn-danger" %>
                <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
            <% else %>
                <p class="m-2"> Nenhuma requisição. </p>
          <% end %>
    </div>

    <div class="tab-pane fade show active" id="recebidas" role="tabpanel" aria-labelledby="recebidas-tab">
      
    <% unless @request_transactions.empty? %>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fornecedor</th>
            <th scope="col">Talento/Projeto</th>
            <th scope="col">Horas</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% @request_transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.provider.name %></td>
                <td><%= transaction.talent %></td>
                <td><%= transaction.hours %></td>
                <td><%= transaction.status %></td>
                <td class="row">
                <% if transaction.status == "pendente" %>
                  <div class="col-md-6">
                  <%= button_to "", transactions_accept_path(transaction), params: { id: transaction.id }, method: :put, class: "btn btn-sm btn-success bi bi-check-lg" %>
                  </div>
                  <div class="col-md-6">
                  <%= button_to "", transactions_deny_path(transaction), params: { id: transaction.id }, method: :put, class: "btn btn-sm btn-danger bi bi-x-lg" %>
                  </div>
                <% end %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <% else %>
          <p class="m-2"> Nenhuma requisição. </p>
    <% end %>
  </div>
</div>
