<div class="card shadow m-3">
  <div class="card-header">
    <h2>Mensagens</h2>
  </div>
  <div class="card-body">
    <nav class="mt-3">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="recebidas-tab" data-toggle="tab" href="#recebidas" role="tab" aria-controls="recebidas" aria-selected="true">Recebidas</a>
        <a class="nav-item nav-link" id="enviadas-tab" data-toggle="tab" href="#enviadas" role="tab" aria-controls="enviadas" aria-selected="false">Enviadas</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="recebidas" role="tabpanel" aria-labelledby="recebidas-tab">

    <% unless @messages_received.empty? %>
      <% @messages_received.each do |message| %>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading-<%= message.id %>">
              <h5 class="mb-0">
                <button class="btn btn-default btn-block d-flex" data-toggle="collapse" data-target="#message-<%= message.id %>" aria-expanded="true" aria-controls="collapse<%= message.id %>">
                  <div><h4 class="mb-0"><%= message.receiver.name %> <i class="bi bi-arrow-left"></i> <%= message.sender.name %></h4></div>
                  <div class="ml-auto"><small><%= message.created_at %></small></div>
                </button>
              </h5>
            </div>

            <div id="message-<%= message.id %>" class="collapse" aria-labelledby="heading-<%= message.id %>" data-parent="#accordion">
              <div class="card-body overflow-auto d-flex flex-column">
                <%= message.message %>

                <div class="ml-auto p-2">
                  <%= link_to "Responder", profile_path(profile_id: message.sender.id), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="m-2"> Nenhuma mensagem. </p>
    <% end %>

  </div>
  <div class="tab-pane fade" id="enviadas" role="tabpanel" aria-labelledby="enviadas-tab">

    <% unless @messages_sent.empty? %>
      <% @messages_sent.each do |message| %>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading-<%= message.id %>">
              <h5 class="mb-0">
                <button class="btn btn-default btn-block d-flex" data-toggle="collapse" data-target="#message-<%= message.id %>" aria-expanded="true" aria-controls="collapse<%= message.id %>">
                  <div><h4 class="mb-0"><%= message.sender.name %> <i class="bi bi-arrow-right"></i> <%= message.receiver.name %></h4></div>
                  <div class="ml-auto"><small><%= message.created_at %></small></div>
                </button>
              </h5>
            </div>

            <div id="message-<%= message.id %>" class="collapse" aria-labelledby="heading-<%= message.id %>" data-parent="#accordion">
              <div class="card-body">
                <%= message.message %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
        <p class="m-2"> Nenhuma mensagem. </p>
    <% end %>
  </div>



  </div>
</div>
