
<div class="card-body">
  <%= form_for @project do |f| %>
    <div class="field col-md-12 form-group">
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class:"form-control", :required => true %>
    </div>

    <div class="field col-md-12 form-group">
      <%= f.label :description, "Descrição" %>
      <%= f.text_area :description, class: "form-control", :required => true %>
    </div>

    <div class="field col-md-12 form-group">
      <%= f.label :category, "Categoria" %>
      <%= f.select :category, options_for_select(Project.categories.keys.to_a), {}, class: 'form-control', :required => true %>
    </div>

    <div class="actions form-group form-row">
      <div class="col-sm-6">
        <%= link_to 'Voltar', user_path(current_user), class: "btn btn-primary form-control", :required => true %>
      </div>
      <div class="col-sm-6">
        <%= f.submit "Salvar", class: "btn btn-success form-control" %>
      </div>
    </div>
  <% end %>
</div>
