
<div class="container" style="padding-top: 20px">
  <div class="card shadow">
    <div class="card-header">
        <h2>Atualizar Projeto</h2>
    </div>
    
    <%= render 'form'%>
  </div>
</div>
