
<div class="col-5" style="padding-top:5%">
  <ul class="table table-striped">
    <% unless @projects.nil? %>
      <% @projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
