
<div class="card shadow m-3">
  <div class="card-header">
    <h2>Projetos Sociais</h2>
  </div>
  
  <div class="card-body justify-content-center">
   <div class='row'>
      <% unless @projects.nil? %>
        <% @projects.each do |project| %>
          <div class="col-md-6">
            <div class="card shadow m-2">
              <div class="card-header overflow-auto" style="height: 65px">
                <h4><%= link_to project.name, profile_path(profile_id: project.user.id) %></h4>
              </div>
              <div class="card-body overflow-auto" style="height: 500px">
                <img src="https://d34ad2g4hirisc.cloudfront.net/volunteer_positions/photos/000/011/224/main/5e2c00210f162f32fc495b61e633ccec.jpg" class="img-thumbnail">
                <p class="mt-2">
                <%= project.description %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
