
<div class="container d-flex justify-content-center" style="padding-top: 20px">
<div class="card shadow col-md-8 col-sm-12">
  <div class="card-header">
    <h2>Entrar</h2>
  </div>
  <div class="card-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group col-md-12">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
    </div>

    <div class="field form-group col-md-12">
      <%= f.label :password, "Senha" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-group col-md-12">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, "Lembrar", class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="actions form-group col-md-12">
      <%= f.submit "Enviar", class: "form-control btn btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
  </div>
