<div class="col-7" style="padding-top:5%; padding-left:40%">
  <h2>Esqueceu a senha?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar instruções para redefinir senha" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
