<!-- Masthead-->
<header class="masthead text-white text-center" style="background-color: #023E73">
    <div class="container d-flex align-items-center flex-column">

        <div class="row m-5 align-items-center">
            <div class="col-md-6">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-4 font-weight-bold">Banco de Tempo</h1>
                <!-- Icon Divider-->
                <p>O que existe de mais valioso do que o nosso tempo? O banco de tempo é um espaço para trocas indiretas de habilidades, serviços e produtos não mediadas por dinheiro.</p>
            </div>
            
            <div class="col-md-6">
                <!-- Masthead Avatar Image-->
                <%= image_tag("timer.jpg", width: 300) %>
            </div>
                            
        </div>
    </div>
</header>

<!-- About Section-->
<section class="page-section bg-light text-dark mb-0" id="about">
    <div class="row">
        <!-- About Section Content-->
        <div class="col align-self-center m-5">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="row">
                  <div class="col-md-4">

                      <p class="lead">
                          <h4 class="page-section-heading font-weight-bold text-left text-dark">
                              Trocas hora por hora e paradigma da abundância
                          </h4>
                      </div>
                  
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-6">
                          <h1><i class="bi bi-person-hearts" width="64" height="64"></i></h1>
                          <h5 class="mt-3 mb-2 font-weight-bold">Cooperação</h5>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                          
                          <div class="col-md-6">
                            
                          <h1><i class="bi bi-share" width="64" height="64"></i></h1>
                          <h5 class="mt-3 mb-2 font-weight-bold">Comunidade</h5>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>

                          <div class="col-md-6">
                          <h1><i class="bi bi-clipboard-heart" width="64" height="64"></i></h1>
                            <!--<img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18143968712%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18143968712%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.833333969116211%22%20y%3D%2236.2%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" style="width: 64px; height: 64px;">-->
                            <h5 class="mt-3 mb-2 font-weight-bold">Projetos Sociais</h5>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>

                          <div class="col-md-6">
                          <h1><i class="bi bi-piggy-bank-fill" width="64" height="64"></i></h1><h5 class="mt-3 mb-2 font-weight-bold">Economia Solidária</h5>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</section>