<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <li class="nav-item">
    <%= link_to "Ver Pefil", user_path(current_user), class: "nav-link" %>
  </li>

  <hr class="sidebar-divider">

   <li class="nav-item">
      <a class="nav-link" href="/transactions">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Transações</span></a>
  </li>

    <li class="nav-item">
      <a class="nav-link" href="/messages">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Mensagens</span></a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
      <a class="nav-link" href="/talents">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Buscar Talentos</span></a>
  </li>

  <li class="nav-item">
      <a class="nav-link" href="/projects">
          <i class="fas fa-fw fa-table"></i>
          <span>Projetos Sociais</span></a>
  </li>

    <hr class="sidebar-divider">

  <li class="nav-item">
      <a class="nav-link" href="/information">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Notícias</span></a>
  </li>

  <li class="nav-item">
      <a class="nav-link" href="/reports">
          <i class="fas fa-fw fa-table"></i>
          <span>Relatórios do Banco</span></a>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <% if current_user.admin? %>
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-table"></i>
            <span>Painel do Administrador</span></a>
    </li>
  <% end %>
</ul>
