<!DOCTYPE html>
<html>
  <head>
    <title>Banco de Tempo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #DFDFDF" >
    <nav class="navbar topbar navbar-dark" style="background-color: #023E73">
      <a class="navbar-brand">
        <%= image_tag 'hourglass.png', size: "25x25", class: "d-inline-block align-text-top"%>
        Banco de Tempo
      </a>

      <% if user_signed_in? %>
        <h3 class="text-white"><%= current_user.name %></h3>
        <div class="d-flex justify-content-end">
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-light " %>
        </div>
      <% else %>
        <div class="d-flex justify-content-end">
          <div class="m-2">
            <%= link_to 'Cadastrar conta', new_user_registration_path, class: "btn btn-light" %>
          </div>
          <div class="m-2">
            <%= link_to 'Entrar', new_user_session_path, class: "btn btn-light" %>
          </div>
        </div>
      <% end %>
    </nav>

    <!-- Page Wrapper -->
    <div id="wrapper">
      <% if user_signed_in? %>
        <%= render 'layouts/menu'%>
      <% end %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <% if defined?(resource) %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <% end %>

        <!-- Main Content -->
        <div id="content p-0" >        
          <div class="col-md-12 d-flex p-0 flex-column">
            <% if user_signed_in? %>
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            <% end %>          

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
